@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.container-fluid{
    background-color: #0d2436;
    padding: 2%;
    padding-top: 4%;
}

.img-1 {
    width: 80%;
    margin: 10px;
}

.card-1 {
    text-align: center;
    margin: 20px;

}

.icon {
    color: #5a7184;
    background-color: #152c3e;
    padding: 10px;
    border-radius: 50px;
}

.adress-text {
    color: #5a7184;
    margin: 10px;
    font-size: 25px;
    font-family: Times New Roman;
    font-weight: bold;
}

.footer-text-1 {
    color: #5a7184;
    margin: 10px;
    font-size: 30px;
    font-family: Times New Roman;
    font-weight: bold;
}

.footer-text-2 {
    color: #5a7184;
    margin: 10px;
    font-size: 25px;
    font-family: Times New Roman;

}